.profilePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #000;
}

.avatarSection {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
  
  .infoContainer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
  }
  
  .userName {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #fff;
  }
  
  .balanceSection {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .balanceLabel {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 130%;
    color: #fff;
    opacity: 0.5;
  }
  
  .balanceValues {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
  }
  
  .balanceItem {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .balanceIcon {
    width: 20px;
    height: 20px;
  }
  
  .balanceNumber {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
  }
  
  .balanceDivider {
    width: 1px;
    height: 20px;
    background-color: #545454;
  }
  
  .agentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
    border-radius: 10px;
    padding: 10px 15px;
    width: 210px;
    height: 40px;
    backdrop-filter: blur(64.0999984741211px);
    background: #5264ce;
    border: none;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }
    
    .agentIcon {
      width: 18px;
      height: 18px;
    }
    
    .agentText {
      font-family: "Manrope", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 130%;
      color: #fff;
    }
  }
}

.infoSection {
  width: 100%;
  height: 50vh;
  background: #000;
  position: relative;
  overflow: hidden;
  
  .shine {
    position: absolute;
    bottom: -230px;
    left: -100px;
    width: 100%;
    height: 900px;
    pointer-events: none;
    z-index: 1;
  }
}

