.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
  position: relative;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar {
    width: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
}

.prototypeText {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    @media screen and (min-width: 400px) {
      margin-top: 40px;
    }
  }

.pageContent {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 180px;
  padding-top: 20px;
}

.friendsCard {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 154px;
  border-radius: 25px;
  overflow: hidden;
  background-image: url('/friends/bgcard.png');
  background-size: cover;
  background-position: center;
}



.friendsCard__content {
  position: absolute;
  left: 20px; /* 20.128 округлено */
  top: 22px;
  width: 265px;
  height: 112px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.friendsCard__icon {
  width: 28px;
  height: 25px;
  background: url('/mine-icons/found.svg') no-repeat center / contain;
  filter: invert(1);
}

.friendsCard__title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #fff;
}

.friendsCard__subtitle {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    width: 220px;
    color: #828282;
}


.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}   

.card {
    width: 48%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #545454;
    border-radius: 25px;
padding: 15px;

backdrop-filter: blur(64.0999984741211px);
background: #57575714
}

.iconText {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 130%;
color: #fff;
gap:5px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.title {
    
    font-family: "Manrope", sans-serif;
font-weight: 600;
font-size: 14px;
line-height: 100%;
color: #fff;
}

.subtitle {
    font-family: "Manrope", sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 130%;
color: #828282;}

.friendsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listTitle {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
    span {
        font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 130%;
color: #fff;
opacity: 0.2;
    }
}

.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
    border-radius: 10px;
padding: 10px;
width: 100%;
height: 65px;


background: #57575714;
border: 1px solid #5454547a;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.name{
    font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 130%;
color: #fff;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btcContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    span {
        font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 130%;
color: #fff;}
svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
}

.btcText {
    font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 130%;
color: rgba(255, 255, 255, 0.5);}

.inviteContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #101010;;
    gap: 10px;
    width: 100%;
    height: 65px;
    position: fixed;
    padding: 0 20px;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.inviteButton {
    background-image: url('/friends/bgbutton.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: none;
width: 84%;
height: 48px;
display: flex;
align-items: center;
justify-content: center;
font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 130%;
color: #fff;
cursor: pointer;
  /* Отключаем выделение текста и длительное нажатие */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

.copyButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.2s;
    width: 14%;
    height: 48px;
    background: #343434;
    border: none;
  /* Отключаем выделение текста и длительное нажатие */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

.copyButtonDark {
    background: #1f1f1f;
}
